[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-postgresql = "*"
fasteners = "*"
"psycopg2" = "*"
"mastodon.py" = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
update = "python update.py"
validate = "python validate.py"
